* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    width: 100%;
    max-width: 1440%;
    
  }
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  } 
   

  .head-section {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .logo {
    align-self:center;
     
  } 

  .text {
    align-self: end;
    
  }
  
 .head-text1 {
    font-family: Josefin Sans;
    font-weight: 100;
    color: hsl(0, 36%, 70%);
    font-size: 90px;
    letter-spacing: 25px;
  }
.head-text1 span {
    font-family: Josefin Sans;
    font-weight: 900;
    color: hsl(0, 6%, 24%);
    font-size: 90px;
    letter-spacing: 20px;
  
  }
.paragraph 
{
    font-family: Josefin Sans;
    color: hsl(0, 36%, 70%);
    font-size: 19px;
    font-weight: 600;
    padding-top: 20px;
    line-height: 30px;
  }

 .email
 {
    align-self: start;
    padding-top: 40px;
    border-color: 3px black solid;
    display: flex;
    border-radius: 12px;
    
    

  }

  .button {
width: 100px;
height: 50px;
border-radius: 60px;
background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
cursor: pointer;
position: absolute;
left: 545px;
right: 50px; 
padding: 10px 20px;
}
.login{
    width: 80%;
    height: 50px;
    border-radius: 35px;
    position: relative;
    background-color:hsl(0, 40%, 89%);
    color: #fff;
    opacity:0.5;
    padding: 10px 20px;

    }
     
    .img-section{
      display: grid;
      grid-template-columns:repeat(2,1fr);
      gap:6px;
      margin-left: 10px;
      background: red;
     border-left: 5px solid white;
    }
    
     